<div class="container d-flex justify-content-center align-items-center vh-100">
<div class="card" style="width: 18rem;">
    <div class="card-body">
    <h1 class="card-title text-center">BLUT</h1>
    <%= form_with(model: @user, url: users_sessions_path) do |form| %>
        <% if @user.errors.any? %>
        <div class="alert alert-danger">
            <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
        <% end %>

        <div class="mb-3">
        <%= form.text_field :nickname, class: "form-control", placeholder: "Nickname"%>
        <em>Como podemos te chamar?</em>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
    <% end %>
    </div>
</div>
</div>
