<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= cash_formated %></li>
  </ol>
</nav>

<%= render partial: "home/shared/salary" %>

