<%= form_with(model: current_user, method: :put, url: users_new_password_path) do |f| %>
  <div class="mb-3">
    <%= f.password_field :password, class: "form-control", placeholder: "Criar uma senha" %>
  </div>
  <%= f.submit "Criar senha", class: "btn btn-primary" %>
<% end %>
